body {
    background-color: white;
    font-family: Alegreya Sans, Verdana;
	color: black;
	width:90%
}
#main-content {
	border-radius: 25px;
	border: 2px solid #73AD21;
	padding: 10px;
	width: 80%;
	height: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#scenario {
	text-align: center;
}
#footer {
	font-size: 12px;
}
img {
	border: 0px solid #000000;
}
#options {
width: 100%;
margin-left: 25%;
text-align:center;
}
#show {
    max-width:100%;
    height:auto;
}
#option1 {
	float: left;
	width: 25%;
	padding: 5%;
	text-align: center;
	background-color: #ffa500;
	border-radius: 25px;
	margin: 10px;
	font-size: 20px;
}
#option2 {
	position: relative;
	right: 250px;
	width: 20%;
	padding: 5%;
	text-align: center;
	background-color: #73AD21;
	border-radius: 25px;
	margin: 5px;
	font-size: 20px;
}

#wrong {
	/*padding-left: 45%;*/
	text-align: center;
	display: none;
	/*display:none;*/
}
#correct {
	text-align: center;
	display: none;
}
#userInput {
	position: relative;
	right: 250px;
}	
#label {
	position: relative;
	right: 250px;
}	
.button {
  /*background-color: #4CAF50;*/
  background-color: #0f52ba;
  border: none;
  border-radius: 25px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
* {box-sizing: border-box;}

.img-magnifier-container {
  position: relative;
}

.img-magnifier-glass {
  position: absolute;
  border: 3px solid #000;
  border-radius: 50%;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 100px;
  height: 100px;
}