body {
    background-color: white;
    font-family: Alegreya Sans, Verdana;
	color: black;
	width:90%
}
#main-content {
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 10px;
  width: 80%;
  height: 1100px;
}
#scenario {
	text-align: center;
}
#footer {
	font-size: 12px;
}
img {
	border: 0px solid #000000;
}
#options {
width: 100%;
margin-left: 25%;
text-align:center;
}
#show {
    max-width:100%;
    height:auto;
	border: 2px solid black;
}
#option1 {
	float: left;
	width: 25%;
	padding: 5%;
	text-align: center;
	background-color: #ffa500;
	border-radius: 25px;
	margin: 10px;
	font-size: 20px;
}
#option2 {
	position: relative;
	right: 600px;
	top: 80px;
}

#wrong {
	position: relative;
	top: 90px;
	text-align: center;
	display: none;
}
#correct {
	position: relative;
	top: 90px;
	text-align: center;
	display: none;
}
#userInput {
	position: relative;
	right: 200px;
}	
#userInput2 {
	position: relative;
	right: 470px;
	top: 40px;
}	
#label {
	position: relative;
	right: 200px;
}	
#label2 {
	position: relative;
	right: 470px;
	top: 40px;
}	
.button {
  /*background-color: #4CAF50;*/
  background-color: #0f52ba;
  border: none;
  border-radius: 25px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}