#main {
        width:100%;
		min-height: 500px;
		height: fit-content;
		/*margin : 0;
        font-family: arial;*/
		display:flex;
		padding:10px;
		margin: 0px;
		font-family: Alegreya Sans, Verdana;
    }
#content{
border:1px solid black;
width:30%;
margin : 0;
float : left ;
padding:20px;
background-color: #e8f9fd;
text-align:center;
}
#dropDown {
	
    padding: 20px;
    /*font-size: 25px;*/
    margin-bottom: 20px;
    border-color: #900314;

}
#thirddiv {
border:1px solid black;
width:30%;
margin : 0;
float : left ;
padding:20px;
background-color: #e8f9fd;
}

#panel {
border:1px solid black;
width:40%;
margin : 0;
float : left ;
padding:20px;

}
#footer {
text-align: center;
}

#lightpanel {
 width: 30%;
 height: 100%;
}
img {
  width: 300px;
  height: auto;
-webkit-transform:rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  margin-top: 150px;
}
.button {
  /*background-color: #4CAF50;*/
  background-color: #ff1e00;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
#previous {
	float: left; 
	background-color: #ff1e00;
}
#next {
	/*float: right;*/
	background-color: #657a00;
}